DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_bdd"
FRONTEND_URL=http://localhost:PUERTOFRONTEND
NODE_ENV=development
JWT_SECRET=unSecretoJWT
VITE_BACKEND_URL=http://localhost:PUERTOBACKEND
